<section class="additional-info">
  <!--h3>{{ _('Additional Info') }}</h3-->
  <br/>
  <table class="table table-striped table-bordered table-condensed">
    <!--thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead-->
    <tbody>
      {% block package_additional_info %}
      {% if pkg_dict.url %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Source') }}</th>
          <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.author_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Author") }}</th>
          <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
        </tr>
      {% elif pkg_dict.author %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Author") }}</th>
          <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.maintainer_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
        </tr>
      {% elif pkg_dict.maintainer %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.version %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Version") }}</th>
          <td class="dataset-details">{{ pkg_dict.version }}</td>
        </tr>
      {% endif %}

      {# % if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("State") }}</th>
          <td class="dataset-details">{{ pkg_dict.state }}</td>
        </tr>
      {% endif % #}

      {% for key,label in [
                           ['contact-email',           'Contact e-mail' ],
                           ['date-created',            'Data creation date'],
                           ['frequency-of-update',     'Frequency of update' ],
                           ['time-coverage-instant',   'Time coverage instant' ],
                           ['time-coverage-period',    'Time coverage period' ],
                           ['temporal-extent-instant', 'Time instant extent' ],
                           ['temporal-extent-begin',   'Time extent begin' ],
                           ['temporal-extent-end',     'Time extent end' ],
                           ['vertical-extent',         'Vertical extent'],  
                           ['ngmp-security-classification-code','Classification' ],
                           ['use-classification',      'Use Classification' ],
                           ['use-limitation',          'Use Limitation' ]
                           ]%}
         {% set value = h.get_pkg_dict_extra(pkg_dict, key) %}

         {% if value %}

            {% if key in [ 'temporal-extent-begin', 'temporal-extent-end', 'temporal-extent-instant'] %}
               {% set value = value.replace('T',' ')  %}
			   {% set value = value.replace('Z',' ')  %}
            {% endif %}

            {% if key == 'ngmp-security-classification-code' %}
               {% set value = 'NATO ' + value.upper() %}
            {% endif %}

            <tr rel="dc:relation" resource="{{key}}">
               <th scope="row" class="dataset-label" property="rdfs:label">{{_(label)}}</th>
               <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr>
         {% endif %}
      {% endfor %}

      {% set preview_file = h.get_pkg_dict_extra(pkg_dict, 'graphic-preview-file')%}
      {% if preview_file %}
         <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _('Graphic Preview File') }}</th>
            <td class="dataset-details" property="rdf:value">
				<!--img src="{{ preview_file }}" style="font-weight: bold;" alt="Authorization needed to view the preview" /-->
				<div class="item">
					<a href="#prev_cel" data-toggle="modal">
						<img src="{{ preview_file }}" style="font-weight: bold;" alt="Authorization needed to view the preview">
					</a>
				</div>
				<section id="prev_cel" class="modal hide fade">
				  <div id="previewContainer">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title">Graphic Preview File</h4>
					</div>
					<div class="modal-body">
						<img src="{{ preview_file }}" style="font-weight: bold;" alt="Authorization needed to view the preview">
					</div>
				  </div>
				</section>
			</td>
         </tr>
       {% endif %}
       
      {% endblock %}
    </tbody>
  </table>
</section>
