{% trans %}
<p>
	The Information Laboratories Office (iLab) supports the execution of the Programme of Work of STO-CMRE 
	through the conception, design, development and construction of state of the art technologies in computing, 
	networking and modelling & simulation (M&S), ensuring interoperability, security and compliance with relevant 
	policies and regulations. 
</p>

<p>
	The core of iLab's mission is the support to the "information supply chain" through which streams of heterogeneous 
	data (ranging from in situ, to remote sensing and other sources) are transformed into added-value products, such as 
	models, analyses and decision aids, to provide decision makers with the elements they require to take informed decisions.
</p>

<p></p>
{% endtrans %}
