{% trans %}

<p>
	This portal has been developed by STO-CMRE's Information Laboratories Office (iLab), with contractor support by 
	<a href="http://www.geo-solutions.it" target="_blank"><img style="display: inline;" src="/base/images/geosolutions.png" alt="edwed"/></a>, 
	within the scope of project ACT00209 "Decisions in Uncertain Ocean Environments" (DUOE), sponsored by <span style="font-weight: bold;">Allied 
	Command Transformation</span> (<a href="http://www.act.nato.int" target="_blank">www.act.nato.int</a>).
</p>

<p>
	NATO Nations and Bodies, as well as other international entities, have acquired over time, 
	and continue acquiring, significant amounts of highly valuable data (e.g. environmental, acoustic, 
	geophysical, etc.). Some data are required in real time while some other can be of interest also in 
	the future, as reference data sets for the testing and validation of new models and algorithms, as 
	well as big data analytics. In order to make this data readily available, it must be properly catalogued 
	(with associated meta-data) and discoverable (e.g., via web services).
</p>

<p>
	This portal, built on the Comprehensive Knowledge Archive Network (CKAN), is one element of a larger 
	picture aimed at improving use and re-use of data to deliver value to out stakeholders. It is meant 
	as an interface for data discovery by humans, to perform queries in a simplified and highly efficient 
	form, with no need for background information such as the details of the underlying archival structure 
	or data provenance and quality.
</p>

<p>
	It is supplemented by a network service which implements OGC's Catalogue Service for the Web (CSW), 
	to expose a catalogue of geospatial records in a form suitable for machine-to-machine communication.
</p>

<p>
	Metadata used to support indexing and discovery are based on the widespread ISO 19115 and 19139 standards, 
	with extensions in accordance with NATO's Geospatial Metadata Profile (NGMP), published as Allied Geographic Publication No. 8 (AGeoP-8).
</p>

<div id="about-bk"></div>

<br/><br/>

<p>
	For further information please contact us at e-mail address <a href="mailto:data.management@cmre.nato.int" target="_blank">data.management@cmre.nato.int</a>
</p>

<!--div id="about-cmre"></div>
<div id="about-geosolutions"></div-->

{% endtrans %}
