{% trans %}
<p>For general enquiries and feedback:</p><br/>

<span style="font-weight: bold;">Email:</span><br/>
<span style="margin-left: 10px;"><a href="mailto:data.management@cmre.nato.int" target="_blank">data.management@cmre.nato.int</a></span><br/><br/>


<span style="font-weight: bold;">Postal address: </span><br/>
<span style="margin-left: 10px;">
	Information Laboratories Office (attn.: Data Manager)
	<div style="margin-left: 20px;">
		STO-CMRE<br/>
		Viale S. Bertolomeo, 400<br/>
		19126 La Spezia, Italy
	</div>
</span><br/>

<span style="font-weight: bold;">From USA and Canada:</span><br/>
<span style="margin-left: 10px;">
	ILAB (Attn: Data Manager)
	<div style="margin-left: 20px;">
		STO-CMRE<br/>
		Unit 31318, Box 19<br/>
		APO AE 09613-1318<br/>
		USA<
	</div>
</span><br/><br/>

{% endtrans %}


	


