{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    <h2 class="page-heading">{{ _("Data Services") }}</h2>
    <p>
      <a href="/erddap">ERDDAP</a> data server is avaialble for data access.
    </p>
    <h2 class="page-heading">{{ _("Catalogue Service for the Web (CWS)") }}</h2>
    <p>
      Machine-to-machine data search can be done using CSW web service via the links below:
      <ul>
      <li><a href="/geonetwork/srv/eng/csw">Base CSW endpoint</a></li>
      <li><a href="/geonetwork/srv/eng/csw?service=CSW&version=2.0.2&request=GetCapabilities">CSW GetCapabilities request</a></li>
      <li><a href="/geonetwork/srv/eng/csw?service=CSW&version=2.0.2&request=GetRecords&typenames=csw:Record&elementSetName=brief">CSW GetRecords request</a></li>
      </ul>
    </p>
    <h2 class="page-heading">{{ _("Data Browsing") }}</h2>
    <p>
      <a href="/rawdata">Data browsing via HTTP</a> is avaiable .<br/>
    </p>

  </div>

</div>
