{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
	
{% block content %}
  <div role="main" class="hero">
    <div id="content" class="container container-cmre-ovr">
      {{ self.flash() }}
      {{ self.primary_content() }}
    </div>
  </div>
  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{% block primary_content %}
  <div class="cmre-hero-primary module module-popup">
    <div class="module-content box module-content-cmre-primary">
      {% block home_primary %}
        <header>
          {% if g.site_intro_text %}
          {{ h.render_markdown(g.site_intro_text) }}
          {% else %}
            {% block home_primary_content %}
              <h1 class="page-heading">{% block home_primary_heading %}{{ _("Welcome to CMRE 's Data Catalogue") }}{% endblock %}</h1>
              <p>
              {% block home_primary_text %}
                {% trans %}
                In accordance with policies in force, access this web portal is restricted to registered users.
				Access to the "Search" function is subject to user identification (entering username and password). 
				To request an account please continue to section <br/>
				<a href="http://geos3.cmre.nato.int/portal/account-request#http://geos3.cmre.nato.int/lum/web/?wicket:bookmarkablePage=:it.geosolutions.lum.ldap.UserActivationRequestPage&"  target="_blank">
					"How to register"
				</a>. 
                {% endtrans %}
              {% endblock %}
              </p>
            {% endblock %}
          {% endif %}
        </header>
		
		<header>
              <h1 class="page-heading">How to register</h1>
              <p>
				Click on the "Register" link on the top-right of the page to request a user account. 
				You will be brought to the GEOS user registration page (note: the system is currently 
				being updated to comply with CMRE visual guidelines). During the registration process 
				you will be requested to name a Point of Contact (POC) at CMRE. Please user "Data Manager" 
				as POC for accessing CMRE's Data Catalogue.
              </p>
        </header>
		
	    <header>
              <h1 class="page-heading">How to access the system</h1>
              <p>
				Just type your query in the search function and provide your credentials when prompted to do so. 
				A user guide is currently under preparation. For any enquiry or feedback do not hesitate to get 
				in touch (see "Contact us" section).
              </p>
        </header>
		
	    <header>
              <h3 class="page-heading">Note:</h3>
              <p>
				the catalogue is currently loaded with a selected subset from CMRE's data store, as a proof of concept.
				Further historical data will be added in the months to come and, more importantly, new data will be added when it becomes available.
              </p>
        </header>
      {% endblock %}	  
    </div>
  </div>
  
  <div class="hero-secondary cmre-hero-secondary">
	<div class="hero-secondary-inner">
      {% block home_secondary_content %}
          <div class="module module-shallow module-narrow module-dark info box">
            {% block home_search %}
              <form class="module-content search-form cmre-module-content" method="get" action="{% url_for controller='package', action='search' %}">
                <h3 class="heading">{{ _("Search Data") }}</h3>
                <div class="search-input control-group search-giant">
                  <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Temperature') }}" />
                  <button type="submit">
                    <i class="icon-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                </div>
              </form>
            {% endblock %}
            {% block home_tags %}
              <div class="tags cmre-tags">
                <h3>{{ _('Popular Tags') }}</h3>
                {% set tags = h.get_facet_items_dict('tags', limit=3) %}
                {% for tag in tags %}
                  <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
                {% endfor %}
              </div>
            {% endblock %}
          </div>
      {% endblock %}
    </div>
  </div>

{% endblock %}
{# Remove the toolbar. #}

{% block toolbar %}{% endblock %}
