{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
	
{% block content %}
  <div role="main" class="hero">
    <div id="content" class="container container-cmre-ovr">
      {{ self.flash() }}
      {{ self.primary_content() }}
    </div>
  </div>
  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{% block primary_content %}
  <div class="cmre-hero-primary module module-popup">
    <div class="module-content box module-content-cmre-primary">
      {% block home_primary %}
        <header>
          {% if g.site_intro_text %}
          {{ h.render_markdown(g.site_intro_text) }}
          {% else %}
            {% block home_primary_content %}
              <h1 class="page-heading">{% block home_primary_heading %}{{ _("Welcome to CKAN") }}{% endblock %}</h1>
              <p>
              {% block home_primary_text %}
                {% trans %}
				The CMRE Geo Data Fusion Centre Geo-Spatial Web Portal is a platform for scientific data hosting. 
				It also supports collaboration and data exchange between CMRE and research partners. It hosts more than 
				10 years of CMRE sea trials, conference pages, and Scientific Web Applications. Accces to this Web Portal 
				is password protected (except for a few public sections) and 
				<a href="http://geos3.cmre.nato.int/portal/account-request#http://geos3.cmre.nato.int/lum/web/?wicket:bookmarkablePage=:it.geosolutions.lum.ldap.UserActivationRequestPage&"  target="_blank">
					registration is required
				</a>. 
                {% endtrans %}
              {% endblock %}
              </p>
            {% endblock %}
          {% endif %}
        </header>
		
		<header>
              <h1 class="page-heading">How to register</h1>
              <p>
				Click on the link on the top-right of the page to request an user account. A Point of Contact at NURC 
				must be specified in the request form. For new credential requests (e.g. access to new sections) please 
				send an email to 
				<a id="aui-3-2-0PR1-1127" href="mailto:geos-webmaster@nurc.nato.int?subject=NURC%20Geo%20Data%20Fusion%20Centre%20Web%20Portal%20Credentials%20Info%20%20Request">
					geos-webmaster@nurc.nato.int
				</a>, 
				specifying the username. Password recovery functionality is available from the login form. Please note 
				that users of the previous edition of the NURC Geo Data Fusion Centre Web Portal (geos2.nurc.nato.int) must re-register.
              </p>
        </header>
		
	    <header>
              <h1 class="page-heading">How it works</h1>
              <p>
				Once logged in, the user can browse applications, sea trials and conferences from the table of content on 
				the left. The user will only see accredited sections (see paragraph above for new section request). FTP access 
				at the URL 
				<a href="ftp://geos.nurc.nato.int">ftp://geos.nurc.nato.int</a>
				is available for a few sections and for a restricted period. 
              </p>
        </header>
      {% endblock %}	  
    </div>
  </div>
  
  <div class="hero-secondary cmre-hero-secondary">
	<div class="hero-secondary-inner">
      {% block home_secondary_content %}
          <div class="module module-shallow module-narrow module-dark info box">
            {% block home_search %}
              <form class="module-content search-form cmre-module-content" method="get" action="{% url_for controller='package', action='search' %}">
                <h3 class="heading">{{ _("Search Data") }}</h3>
                <div class="search-input control-group search-giant">
                  <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Temperature') }}" />
                  <button type="submit">
                    <i class="icon-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                </div>
              </form>
            {% endblock %}
            {% block home_tags %}
              <div class="tags cmre-tags">
                <h3>{{ _('Popular Tags') }}</h3>
                {% set tags = h.get_facet_items_dict('tags', limit=3) %}
                {% for tag in tags %}
                  <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
                {% endfor %}
              </div>
            {% endblock %}
          </div>
      {% endblock %}
    </div>
  </div>

{% endblock %}
{# Remove the toolbar. #}

{% block toolbar %}{% endblock %}
