<div id="wb-foot">
  <div id="wb-foot-in">
    <footer>
      <h2 id="wb-nav">Footer</h2>
      <!-- FooterStart -->
      <nav role="navigation">
        <div id="gcwu-sft">
          <div id="gcwu-sft-in">
            <br/><br/><!-- Break needed to avoid display issues with the footer nav overlapping the maple leaf image -->
            <div class="clear"></div>
            <div class="span-2">
              <div class="gcwu-col-head">
                <a href="#" target="_blank">{{ _('About us') }}</a>
              </div>
            </div>
            <div class="span-2">
              <div class="gcwu-col-head">
                <a href="#" target="_blank">{{ _('Contact us') }}</a>
              </div>
            </div>
			
			<div class="attribution">
				<strong class="cmre-attribution-strong">Powered by</strong>
				<p>
					<a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
					<a class="hide-text geosolutions-footer-logo" href="http://www.geo-solutions.it">GeoSolutions</a>
				</p>
			  </div>
          </div>
        </div>
      </nav>
	  
	  <div class="cmre-footer"> 
		  <p> 
			Copyright &copy; 2007-2010 - All rights reserved - NURC, a N.A.T.O. Research Centre Viale San Bartolomeo 400, 19138 LA SPEZIA - ITALY<br>
			Tel: +39.0187.527-1 (Main Switchboard) - Fax: +39.0187.527-700 - 
			<a href="http://www.cmre.nato.int">www.nurc.nato.int</a><br> 
		  </p> 
	  </div>
      <!-- FooterEnd -->
    </footer>
  </div>
</div>
