<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="cmre-footer">
                    <a href="https://www.cmre.nato.int/"><div class="cmre-credits"> © 2018 - 2020 STO-CMRE </div></a>
                    <div class="cmre-social-items">
                        <a href="http://www.facebook.com/pages/Centre-for-Maritime-Research-and-Experimentation-CMRE/204814398055"
                            target="_blank" rel="noopener noreferrer" title="FaceBook" aria-label="FaceBook">
                            <span class="fa fa-facebook fa-fw"></span> </a>
                        <a href="http://www.youtube.com/user/paocmre?feature=results_main" target="_blank"
                            rel="noopener noreferrer">
                            <span class="fa fa-youtube fa-fw fa-lg"></span> </a>
                        <a href="http://www.linkedin.com/company/2652688" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-linkedin"></span> </a>
                        <!--a href="/rss" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-rss-square"></span> </a-->
                        <a href="http://webmail.cmre.nato.int/" target="_blank" rel="noopener noreferrer">
                            <span class="fa fa-envelope fa-fw"></span> </a>
                    </div>
                    <div class="cmre-language">
                        {% snippet "snippets/language_selector.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
