/*CMRE for custom CSS*/

/*Header*/

/*.cmre-logoa {
    background: url("../../../base/images/ILAB-06.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 714px;
	display: inline-block;
}

.cmre-logob {
    background: url("../../../base/images/cmre_company_logo2.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 97px;
	display: inline-block;
}
 .cmre-logoc {
    background: url("../../../base/images/cmre_company_logo2.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 67px;
	display: inline-block;
}*/

#gcwu-sig-eng {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 22px;
    padding-top: 10px;
	text-shadow: 0.5px 0.5px 2px #FFFFFF;
}


.cmre-logocmre {
    background: url("../../../base/images/banner_cmre_959.jpg") no-repeat scroll 0 0 #FFFFFF;
    height: 96px;
	font-size: 0;
	width: 960px;
	display: inline-block;
}

.cmre-ilablogo {
    margin: 0 auto;
	padding-top: 10px;
	height: 160px;
	width: 145px;
}

.cmre-container{
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: url("../../../base/images/cmre_bg_ckan.jpg");
    min-height: 0;
    padding: 20px 0;
	height: 210px;
}

.cmre-banner-content{
	margin: 0 auto;
	width: 960px;
}

.masthead{
	/*display: none;*/
	background: #FFFFFF;
}

.cmre-masthead .container{
	width: 1200px;
	padding-left: 70px;
}

.container-ovr{
    /*background-image: -moz-linear-gradient(center top , #E2E2E2, #CCCCCC);*/
	background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
	width: 940px;
}

.account-masthead {
    background: none repeat scroll 0 0 #FFFFFF;
}

.account-masthead .account ul li {
	border-left: 0px solid #00232E;
}

.account-masthead .account  ul li a{
	color: #999999;
	font-size: 14px;	
}

.account-masthead .account  ul li a:hover{
	text-shadow: 1px 1px 3px #6B92B5;
	background-color: #FFFFFF;
	color: #000033;
}

/*Body*/

body {
    background: url("../../../base/images/bg.png") repeat scroll 0 0 #FFFFFF;
}

form h3 {
    color: #000033;
    font-size: 24.5px;
}

/* for templates / home / index.html */

.container-cmre-ovr{
	width: 1200px;
}

.hero .module-dark .cmre-module-content {
    background-color: #EFEFEF;
}

.hero .cmre-tags {
    background-color: #0e7eb9;
}

.hero .cmre-tags  h3{
    color: #000033;
}

.cmre-hero-primary {
    margin: 0;
    float: left;
    width: 600px;
	padding-left: 50px;
}

.hero .module-dark {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
	margin: 0px;
    padding: 2px;
}

a.tag:hover{
	background-color: #ece3ba;
	border: 1px solid #000000;
	box-shadow: 0 1px 0 #FFFFFF inset;
	color: #000000;
}

.hero .search-giant input {
    border-color: #CCCCCC;
}

.cmre-register{
    bottom: 0;
    position: absolute;
    right: 0;
	float: left;
    margin-left: 20px;
    width: 460px;
}

.cmre-hero-secondary {
    bottom: inherit;
    position: inherit;
	float: right;
	padding-right:50px;
	width: 460px;
}

.tag_container{
    text-align: center;
}

/*Footer*/

.hero {
    background-color: #FFFFFF;
}

.main.homepage {
    border-top: 1px solid #FFFFFF;
}

[role="main"], .main {
    background: #FFFFFF;
}

.site-footer {
    background: none repeat scroll 0 0 #FFFFFF;
	padding: 10px 0;
}

.site-footer, .site-footer label, .site-footer small {
    color: #999999;
}

.site-footer a {
    color: #999999;
}

.cmre-footer {
    border-top: 1px solid #CCCCCC;
	/*background: #EFEFEF;*/
	height: 20px;
	background-image: linear-gradient(#000033, #005596);
    bottom: 0;
    clear: both;
    color: #999999;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
}

.poweredby{
	float: right;
}

.attribution{
	margin-left: 0px;
	float: right;
	width: 50px;
	padding-top: 17px;
}

.attribution p{
	float: left;
	margin: 0 0 0 0px;
	line-height: 0px;
}

.attribution .geosolutions-footer-logo {
    background: url("../../../base/images/geosolutions.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 21px;
    width: 100px;
	display: inline-block;
}

.attribution .ckan-footer-logo {
    background: url("../../../base/images/ckan-logo-footer.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
	/*display: inline-block;*/
	margin-top: 0px;
	margin-left: 0px;
	height: 21px;
	width: 55px;
}

/*New Header*/

#gcwu-gcnb h2{
	clip:rect(1px,1px,1px,1px);
	height:0!important;
	overflow:hidden!important;
	position:absolute;
	width:0!important;
	margin:0!important;
}

#gcwu-gcnb ul{
	list-style-type:none;
	float:right;
	margin:0;
	padding:0;
}

#gcwu-gcnb ul li {
	float:left;
	padding:13px 0;
}

#gcwu-gcnb ul li #gcwu-gcnb-lang a{
	text-transform:capitalize;
	padding-right:10px;
	margin-right:1px;
}

#gcwu-gcnb a{
	color:#fff;
}

#gcwu-gcnb-in{
	width:960px;
}

#gcwu-gcnb-in{
	margin:auto;
}

#gcwu-gcnb a{
	font-weight:400;
}

#gcwu-gcnb-in{
	overflow:hidden;
}

#gcwu-gcnb a{
	display:block;
}

#gcwu-sig,[dir="rtl"] #gcwu-gcnb ul{
	float:left;
}

[dir="rtl"] #gcwu-sig,[dir="rtl"] #gcwu-gcnb ul li{
	float:right;
}

#gcwu-gcnb1 a, #gcwu-gcnb2 a, #gcwu-gcnb3 a{
	font-size: 110%;
    font-weight: 700;
}

#gcwu-gcnb a{
	border-left:1px solid #fff;
	padding:0 1em;
	text-shadow:none;
	text-shadow: 0px 0px 0.5px #FFFFFF;
}

img {
	display:block;
}

#gcwu-gcnb{
	min-height:42px;
	height:20px;
	height:20px;
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#000033),color-stop(100%,#005596));
	background-image:-webkit-linear-gradient(#000033,#005596);
	background-image:-moz-linear-gradient(#000033,#005596);
	background-image:-o-linear-gradient(#000033,#005596);
	background-image:linear-gradient(#000033,#005596);
	font-size:.9em;
}

/*New Footer*/

#wb-foot {
    line-height: normal;
}

#wb-foot h2{
    clip: rect(1px, 1px, 1px, 1px);
    margin: 0 !important;
    overflow: hidden !important;
    position: absolute;
}

#gcwu-sft {
    background: url("data:image/gif;base64,R0lGODlhAgA8AKIAAO/v7////9fX1+fn58vLy/Pz85qamgAAACH5BAAAAAAALAAAAAACADwAAAMVGLrc/jCGUsYQghBjgP9gKI5kaZYJADs=") repeat-x scroll center top #EFEFEF;
}

#gcwu-sft {
    padding-bottom: 20px;
}

#wb-foot, #wb-foot-in, #gcwu-sft, #gcwu-sft-in{
    overflow: hidden;
}

#gcwu-sft-in{
    margin: auto;
}

#gcwu-sft-in{
    width: 960px;
}

#gcwu-sft-in {
    background-color: rgba(0, 0, 0, 0);
	background-image: url("../../../base/images/ilab-corona.png");
    background-position: center top, left top, right top;
    background-repeat: no-repeat;
}

#gcwu-sft-in {
    padding-top: 20px;
}

#wb-foot h4, #wb-foot .gcwu-col-head {
    border: 0 none;
    font-size: 110%;
    font-weight: 700;
    margin: 20px 0 5px;
}

#gcwu-sft-in a{
	color: #000033;
}

.module-content .box .module-content-cmre-primary table, h1, h3{
	color: #000033;
}

.cmre-attribution-strong{
	color: #000033;
	margin-left: 430px;
}

/* Basic OVR CSS*/

a {
    color: #0099CC;
    text-decoration: none;
}

.btn-primary {
    background-color: #0099CC;
    background-image: linear-gradient(to bottom, #0099CC, #085871);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.toolbar .breadcrumb a {
    color: #000033;
}

#about-bk{
	background-image: url("../../../base/images/about-bk.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 361px;
	margin: 0 auto;
}

/*#about-cmre{
	background-image: url("../../../base/images/cmre.png");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	height: 50px;
	margin: 0 auto;
}

#about-geosolutions{
	background-image: url("../../../base/images/geosolutions.png");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	height: 50px;
	margin: 0 auto;
}*/

.modal-body {
	position: relative;
	overflow-y: auto;
	max-height: 1000px;
	max-width: 1000px;
	padding: 15px;
}

#previewContainer{
	max-height: 1000px;
	max-width: 1000px;
    height: 780px;
	width: 700px;
}

#prev_cel{
	max-height: 1000px;
	max-width: 1000px;
    height: 780px;
	width: 700px;
}

.hero .tags h3 {
    font-size: 14px; 
    line-height: 20px; 
    padding: 2px 8px;
}

.hero .tags {
    padding: 5px 10px 10px 10px;
    background-color: #0e7eb9;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.hero .page-heading {
    font-size: 18px;
    margin-bottom: 0;
}

.cmre-nav .nav>li>a{
	color: #000033;
}

.cmre-nav .nav>li>a:hover, .cmre-nav .nav>li>a:focus {
    color: #000033;
    background-color: rgba(14, 126, 185, 0.14);
}

.account-masthead .account.authed .image img{
	display: inline;
}

.masthead .cmre-nav .nav>li>a:hover{
	background-color: #0E7EB9;
	color: #000033;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
    color: #000033;
    background-color: rgba(14, 126, 185, 0.49);
}

.module-heading .action {
    float: right;
    color: #888888;
    font-size: 12px;
    line-height: 20px;
    text-decoration: underline;
}

.cmre-dataset-item {
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 120px;
}

.package-item-img {
	float: left;
	padding: 5px;
}

.cmre-resource-item a{
    font-weight: normal;
}

/* DATA FORMATS STYLES */

.label[data-format=ftp] {
    background-color: #708FB7;
}
.format-label[data-format=ftp],
.format-label[data-format*=ftp] {
    background: url("../../../base/images/icons/ftp.png") no-repeat;
}

.label[data-format=http] {
    background-color: #5E7692;
}
.format-label[data-format=http],
.format-label[data-format*=http] {
    background: url("../../../base/images/icons/http.png") no-repeat;
}

.label[data-format=netcdf] {
    background-color: #3858E8;
}
.format-label[data-format=netcdf],
.format-label[data-format*=netcdf] {
    background: url("../../../base/images/icons/netcdf.png") no-repeat;
    
}

.label[data-format=ncml] {
    background-color: #3858E8;
}
.format-label[data-format=ncml],
.format-label[data-format*=ncml] {
    background: url("../../../base/images/icons/netcdf.png") no-repeat;
    
}

.label[data-format=wms] {
    background-color: #adc717;
}
.format-label[data-format=wms],
.format-label[data-format*=wms] {
    background: url("../../../base/images/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -32px -62px;
}

.label[data-format=kml] {
    background-color: #7aae3d;
}
.format-label[data-format=kml],
.format-label[data-format*=kml] {
    background: url("../../../base/images/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -96px -62px;
}

.label[data-format=kmz] {
    background-color: #7aae3d;
}
.format-label[data-format=kmz],
.format-label[data-format*=kmz] {
    background: url("../../../base/images/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -96px -62px;
}

.label[data-format=log] {
    background-color: #000000;
}
.format-label[data-format=log],
.format-label[data-format*=log] {
    background: url("../../../base/images/icons/log.png") no-repeat 0 0;
}

.label[data-format=matlab] {
    background-color: #B93434;
}
.format-label[data-format=matlab],
.format-label[data-format*=matlab] {
    background: url("../../../base/images/icons/dat.png") no-repeat 0 0;
}

.label[data-format=asc] {
    background-color: #7aae3d;
}
.format-label[data-format=asc],
.format-label[data-format*=asc] {
    background: url("../../../base/images/icons/asc.png") no-repeat 0 0;
}

.label[data-format=cnv] {
    background-color: #B97EAC;
}
.format-label[data-format=cnv],
.format-label[data-format*=cnv] {
    background: url("../../../base/images/icons/cnv.png") no-repeat 0 0;
}