/*CMRE for custom CSS*/

/*Header*/

/*.cmre-logoa {
    background: url("../../../base/images/ILAB-06.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 714px;
	display: inline-block;
}

.cmre-logob {
    background: url("../../../base/images/cmre_company_logo2.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 97px;
	display: inline-block;
}
 .cmre-logoc {
    background: url("../../../base/images/cmre_company_logo2.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 67px;
	display: inline-block;
}*/

.cmre-logocmre {
    background: url("../../../base/images/banner_cmre_959.jpg") no-repeat scroll 0 0 #FFFFFF;
    height: 96px;
	font-size: 0;
	width: 960px;
	display: inline-block;
}

.cmre-ilablogo {
    margin: 0 auto;
	padding-top: 10px;
	height: 160px;
	width: 145px;
}

.cmre-container{
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: url("../../../base/images/cmre_bg_ckan.jpg");
    min-height: 0;
    padding: 20px 0;
	height: 210px;
}

.cmre-banner-content{
	margin: 0 auto;
	width: 960px;
}

.masthead{
	display: none;
}

.container-ovr{
    /*background-image: -moz-linear-gradient(center top , #E2E2E2, #CCCCCC);*/
	background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
	width: 940px;
}

.account-masthead {
    background: none repeat scroll 0 0 #FFFFFF;
}

.account-masthead .account ul li {
	border-left: 0px solid #00232E;
}

.account-masthead .account  ul li a{
	color: #999999;
	font-size: 14px;	
}

.account-masthead .account  ul li a:hover{
	text-shadow: 1px 1px 3px #6B92B5;
	background-color: #FFFFFF;
	color: #000033;
}

/*Body*/

body {
    background: url("../../../base/images/bg.png") repeat scroll 0 0 #FFFFFF;
}

form h3 {
    color: #000033;
    font-size: 24.5px;
}

/* for templates / home / index.html */

.container-cmre-ovr{
	width: 1200px;
}

.hero .module-dark .cmre-module-content {
    background-color: #EFEFEF;
}

.hero .cmre-tags {
    background-color: #0e7eb9;
}

.hero .cmre-tags  h3{
    color: #000033;
}

.cmre-hero-primary {
    margin: 0;
    float: left;
    width: 600px;
	padding-left: 50px;
}

.hero .module-dark {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
	margin: 0px;
    padding: 2px;
}

a.tag:hover{
	background-color: #ece3ba;
	border: 1px solid #000000;
	box-shadow: 0 1px 0 #FFFFFF inset;
	color: #000000;
}

.hero .search-giant input {
    border-color: #CCCCCC;
}

.cmre-register{
    bottom: 0;
    position: absolute;
    right: 0;
	float: left;
    margin-left: 20px;
    width: 460px;
}

.cmre-hero-secondary {
    bottom: inherit;
    position: inherit;
	float: right;
	padding-right:50px;
}

/*Footer*/

.hero {
    background-color: #FFFFFF;
}

.main.homepage {
    border-top: 1px solid #FFFFFF;
}

[role="main"], .main {
    background: #FFFFFF;
}

.site-footer {
    background: none repeat scroll 0 0 #FFFFFF;
	padding: 10px 0;
}

.site-footer, .site-footer label, .site-footer small {
    color: #999999;
}

.site-footer a {
    color: #999999;
}

.cmre-footer {
    border-top: 1px solid #CCCCCC;
	/*background: #EFEFEF;*/
	height: 20px;
	background-image: linear-gradient(#000033, #005596);
    bottom: 0;
    clear: both;
    color: #999999;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
}

.poweredby{
	float: right;
}

.attribution{
	margin-left: 320px;
	float: right;
	width: 160px;
	padding-top: 20px;
}

.attribution p{
	float: left;
	margin: 0 0 0 0px;
	line-height: 0px;
}

.attribution .geosolutions-footer-logo {
    background: url("../../../base/images/geosolutions.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 21px;
    width: 100px;
	display: inline-block;
}

.attribution .ckan-footer-logo {
    background: url("../../../base/images/ckan-logo-footer.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
	display: inline-block;
	margin-top: 0px;
	height: 21px;
	width: 55px;
}

/*New Header*/

#gcwu-gcnb h2{
	clip:rect(1px,1px,1px,1px);
	height:0!important;
	overflow:hidden!important;
	position:absolute;
	width:0!important;
	margin:0!important;
}

#gcwu-gcnb ul{
	list-style-type:none;
	float:right;
	margin:0;
	padding:0;
}

#gcwu-gcnb ul li {
	float:left;
	padding:13px 0;
}

#gcwu-gcnb ul li #gcwu-gcnb-lang a{
	text-transform:capitalize;
	padding-right:10px;
	margin-right:1px;
}

#gcwu-gcnb a{
	color:#fff;
}

#gcwu-gcnb-in{
	width:960px;
}

#gcwu-gcnb-in{
	margin:auto;
}

#gcwu-gcnb a{
	font-weight:400;
}

#gcwu-gcnb-in{
	overflow:hidden;
}

#gcwu-gcnb a{
	display:block;
}

#gcwu-sig,[dir="rtl"] #gcwu-gcnb ul{
	float:left;
}

[dir="rtl"] #gcwu-sig,[dir="rtl"] #gcwu-gcnb ul li{
	float:right;
}

#gcwu-gcnb1 a, #gcwu-gcnb2 a, #gcwu-gcnb3 a{
	font-size: 110%;
    font-weight: 700;
}

#gcwu-gcnb a{
	border-left:1px solid #fff;
	padding:0 1em;
	text-shadow:none;
}

img {
	display:block;
}

#gcwu-gcnb{
	min-height:42px;
	height:20px;
	height:20px;
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#000033),color-stop(100%,#005596));
	background-image:-webkit-linear-gradient(#000033,#005596);
	background-image:-moz-linear-gradient(#000033,#005596);
	background-image:-o-linear-gradient(#000033,#005596);
	background-image:linear-gradient(#000033,#005596);
	font-size:.9em;
}

/*New Footer*/

#wb-foot {
    line-height: normal;
}

#wb-foot h2{
    clip: rect(1px, 1px, 1px, 1px);
    margin: 0 !important;
    overflow: hidden !important;
    position: absolute;
}

#gcwu-sft {
    background: url("data:image/gif;base64,R0lGODlhAgA8AKIAAO/v7////9fX1+fn58vLy/Pz85qamgAAACH5BAAAAAAALAAAAAACADwAAAMVGLrc/jCGUsYQghBjgP9gKI5kaZYJADs=") repeat-x scroll center top #EFEFEF;
}

#gcwu-sft {
    padding-bottom: 20px;
}

#wb-foot, #wb-foot-in, #gcwu-sft, #gcwu-sft-in{
    overflow: hidden;
}

#gcwu-sft-in{
    margin: auto;
}

#gcwu-sft-in{
    width: 960px;
}

#gcwu-sft-in {
    background-color: rgba(0, 0, 0, 0);
	background-image: url("../../../base/images/ilab-corona.png");
    background-position: center top, left top, right top;
    background-repeat: no-repeat;
}

#gcwu-sft-in {
    padding-top: 20px;
}

#wb-foot h4, #wb-foot .gcwu-col-head {
    border: 0 none;
    font-size: 110%;
    font-weight: 700;
    margin: 20px 0 5px;
}

#gcwu-sft-in a{
	color: #000033;
}

.module-content .box .module-content-cmre-primary table, h1{
	color: #000033;
}

.cmre-attribution-strong{
	color: #000033;
}

/* Basic OVR CSS*/

a {
    color: #0099CC;
    text-decoration: none;
}

.btn-primary {
    background-color: #0099CC;
    background-image: linear-gradient(to bottom, #0099CC, #085871);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.toolbar .breadcrumb a {
    color: #000033;
}