/*CMRE for custom CSS*/

/*Header*/

.cmre-logoa {
    background: url("../../../base/images/cmre_company_logo1.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 714px;
	display: inline-block;
}
.cmre-logob {
    background: url("../../../base/images/cmre_company_logo2.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 97px;
	display: inline-block;
}
 .cmre-logoc {
    background: url("../../../base/images/cmre_company_logo2.png") no-repeat scroll 0 0 #FFFFFF;
    height: 144px;
	font-size: 0;
	width: 67px;
	display: inline-block;
}

.cmre-container{
	background: #FFFFFF;
}

.cmre-banner-content{
	margin: 0 auto;
	width: 900px;
}

.masthead{
	display: none;
}

.container-ovr{
    /*background-image: -moz-linear-gradient(center top , #E2E2E2, #CCCCCC);*/
	background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.account-masthead {
    background: none repeat scroll 0 0 #FFFFFF;
}

.account-masthead .account ul li {
	border-left: 0px solid #00232E;
}

.account-masthead .account  ul li a{
	color: #999999;
	font-size: 14px;	
}

.account-masthead .account  ul li a:hover{
	text-shadow: 1px 1px 3px #6B92B5;
	background-color: #FFFFFF;
	color: #999999;
}

/*Body*/

body {
    background: url("../../../base/images/bg.png") repeat scroll 0 0 #FFFFFF;
}

/*Footer*/

.hero {
    background-color: #FFFFFF;
}

.main.homepage {
    border-top: 1px solid #FFFFFF;
}

[role="main"], .main {
    background: #FFFFFF;
}

.site-footer {
    background: none repeat scroll 0 0 #FFFFFF;
	padding: 10px 0;
}

.site-footer, .site-footer label, .site-footer small {
    color: #999999;
}

.site-footer a {
    color: #999999;
}

.cmre-footer {
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    clear: both;
    color: #999999;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
}

.attribution{
	margin-left: 320px;
	width: 160px;
}

.attribution p{
	float: center;
	margin: 0 0 0 0px;
	line-height: 0px;
}

.attribution .geosolutions-footer-logo {
    background: url("../../../base/images/geosolutions.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 21px;
    width: 100px;
	display: inline-block;
}

.attribution .ckan-footer-logo {
    background: url("../../../base/images/ckan-logo-footer.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
	display: inline-block;
	margin-top: 0px;
	height: 21px;
	width: 55px;
}